
<div class="content-wrapper">
  <div class="header-container" style="display: flex; align-items: center; gap: 15px;">
    <div class="logo-container">
      <a href="/">
        <img src="/images/TOPlogo.png" class="logo" alt="Logo">
      </a>
    </div>
    <div class="main-title-container">
      <h1 class="main-title">The Oldies Station</h1>
    </div>
  </div>
</div>